*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
  background-image: url(./trianglify-lowres.png);
  background-size: cover;
  background-attachment: fixed;
}

form {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.un {
  font-weight: 500;
  font-size: 18px;
}

.link {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}
.address {
  padding: 5px 40px 10px 10px;
}

button {
  padding: 4px 10px;
  margin: 20px auto;
  display: flex;
}

.Show {
  display: none;
}

.tabSearch {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.tabSearchInput {
  align-items: center;
  display: flex;
}

.tabSearchInput,label{
  margin: 5px;
}
input {
  padding: 4px;
}

.link {
  color: aliceblue;
  outline: none;
  text-decoration: none;
}

.link:hover,
.link:focus{
  color: blue;
}